.EvolutionInfo {
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-flow: row wrap;
  /* flex-flow: row wrap; */
  align-self: center;
}

.EvolutionInfo__item {
  -ms-flex: 3 3 30px;
  /* flex: 3 3 30px; */
  display: flex;
  flex-flow: row;
  padding: .5rem;
}

.EvolutionInfo__sprite {
  height: 50px;
  width: 50px;
}

.EvolutionInfo__item_link {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1 1 10px;
}

.EvolutionInfo__item_text {
  align-self: center;
  font-size: .75rem;
  padding: 0 .5rem;
  max-width: 70px;
}

.EvolutionInfo__item_method {
  align-self: center;
  font-size: .75rem;
  padding: 0 .5rem;
  width: 75px;
  flex: 1 1 10px;
}

.MonsterPage__EvolutionInfo_wrap {
  display: flex;
  flex-flow: row;
  flex: 8 8 100%;
  justify-content: center;
}