.EvolutionInfo__wrap {
  display: flex;
  align-items: center;
}

.EvolutionInfo {
  flex: 1 auto;
}

.EvolutionInfo__wrap .sub_stage {
  flex: 0 1 50%;
  height: 100%;
}

.EvolutionInfo__wrap_item {
  display: flex;
  flex: 0 1 auto;
  width: auto;
  align-items: flex-end;
  justify-content: center;
}

.EvolutionInfo__wrap_image {
  width: 75px;
  height: auto;
}

.EvolutionInfo__stage_wrap {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.EvolutionInfo__wrap_method {
  flex: 0 1 50%;
  align-self: center;
  padding: 0 .5rem;
}