.VisualInfo {
  flex: 2 2 35px;
  padding: .5rem 0 .5rem .25rem;
  margin-right: -1rem;
}

.VisualInfo__sprite_wrapper {
  background: #ccc;
  border-radius: 50% 0 0 50%;
  padding-left: 1rem;
}

.VisualInfo__type_wrapper {
  width: 160px;
  padding: 1rem 0;
  margin-right: 1rem;
  text-align: center;
}

.VisualInfo__sprite {
  height: 200px;
}

@media (max-width: 600px) {
  .VisualInfo__sprite_wrapper {
    padding: .5rem .5rem .5rem 1.75rem;
  }

  .VisualInfo__sprite {
    height: 125px;
  }
}