.MonsterList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0 1rem;
  margin-top: 0px;
}

.MonsterList__item_wrapper {
  list-style: none;
  padding: .5rem;
  /*color: white;*/
  font-weight: 600;
  width: 175px;
}

.MonsterList__item {
  padding-top: 1rem;
  text-align: center;
  background: #ccc;
}

.MonsterList__item_link {
  text-decoration: none;
  color: #fff;
}

.MonsterList__item:hover {
  background-color: rgba(0, 0, 0, .25);
}

.MonsterList__sprite {
  height: 75px;
  width: 75px;
}

.MonsterList__label {
  margin: 0;
  text-shadow: 1px 1px #666;
}

.type {
  font-size: .75rem;
  font-weight: 300;
  display: inline-block;
  width: 50%;
}

@media (max-width: 600px) {
  .MonsterList {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .MonsterList__item_wrapper {
    width: initial;
  }

  .MonsterList__item {
    padding-top: .5rem;
  }

  .MonsterList__sprite {
    height: 60px;
    width: 60px;
  }

  .MonsterList__label {
    padding-top: 0;
  }
}

.Normal {
  background: #A8A878;
}
.Water {
  background: #6890F0;
}
.Fire {
  background: #F08030;
}
.Grass {
  background: #78C850;
}
.Flying {
  background: #A890F0;
}
.Poison {
  background: #A040A0;
}
.Dark {
  background: #705848;
}
.Psychic {
  background: #F85888;
}
.Steel {
  background: #B8B8D0;
}
.Electric {
  background: #F8D030;
}
.Fighting {
  background: #C03028;
}
.Ground {
  background: #E0C068;
}
.Rock {
  background: #B8A038;
}
.Bug {
  background: #A8B820;
}
.Ice {
  background: #98D8D8;
}
.Dragon {
  background: #7038F8;
}
.Ghost {
  background: #705898;
}