.MonsterList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0 1rem;
  margin-top: 0px;
}

.MonsterList__item_wrapper {
  background: #eee;
  list-style: none;
  padding: 1rem;
  color: white;
  font-weight: 600;
  height: 100px;
  width: 100px;
  margin: .25rem;
  position: relative;
}

.MonsterList__item {
  padding-top: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.MonsterList__item:hover {
  background-color: rgba(0, 0, 0, .25);
}

.MonsterList__sprite {
  height: 75px;
  width: 75px;
}

.MonsterList__label {
  padding-top: 1.75rem;
  margin: 0;
  text-shadow: 1px 1px #666;
}



@media (max-width: 600px) {
  .MonsterList {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .MonsterList__item_wrapper {
    width: initial;
    height: 45px;
  }

  .MonsterList__item {
    padding-top: 0;
  }

  .MonsterList__sprite {
    height: 60px;
    width: 60px;
  }

  .MonsterList__label {
    padding-top: 0;
  }
}

.Normal {
  border-bottom: 1rem #A8A878 solid;
}
.Water {
  border-bottom: 1rem #6890F0 solid;
}
.Fire {
  border-bottom: 1rem #F08030 solid;
}
.Grass {
  border-bottom: 1rem #78C850 solid;
}
.Flying {
  border-bottom: 1rem #A890F0 solid;
}
.Poison {
  border-bottom: 1rem #A040A0 solid;
}
.Dark {
  border-bottom: 1rem #705848 solid;
}
.Psychic {
  border-bottom: 1rem #F85888 solid;
}
.Steel {
  border-bottom: 1rem #B8B8D0 solid;
}
.Electric {
  border-bottom: 1rem #F8D030 solid;
}
.Fighting {
  border-bottom: 1rem #C03028 solid;
}
.Ground {
  border-bottom: 1rem #E0C068 solid;
}
.Rock {
  border-bottom: 1rem #B8A038 solid;
}
.Bug {
  border-bottom: 1rem #A8B820 solid;
}
.Ice {
  border-bottom: 1rem #98D8D8 solid;
}
.Dragon {
  border-bottom: 1rem #7038F8 solid;
}
.Ghost {
  border-bottom: 1rem #705898 solid;
}