.MonsterList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 1rem;
  margin-top: 0px;
  text-align: center;
}

.MonsterList__item_wrapper {
  list-style: none;
  padding: 1rem;
  color: white;
  font-weight: 600;
  flex: 6 6 100px;
  height: 100px;
  width: 100px;
  margin: .25rem;
  position: relative;
}

.MonsterList__item {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.MonsterList__item:hover {
  background-color: rgba(255, 255, 255, .25);
}

.MonsterList__sprite {
  height: 56px;
  width: 56px;
  margin: 0 auto;
  flex: 0 0 56px;
}

.MonsterList__label {
  padding-top: .75rem;
  margin: 0;
  flex: 1 1 115px;
}

@media (max-width: 600px) {
  .MonsterList {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .MonsterList__item_wrapper {
    width: initial;
    flex: 1 1 50px;
  }

  .MonsterList__item {
    padding-top: 0;
    padding-left: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }

  .MonsterList__sprite {
    flex: 0 0 56px;
  }

  .MonsterList__label {
    padding-top: 0;
    align-self: center;
  }
}