.MoveList {
  background: #eee;
  padding: .25rem;
  width: 100%;
  text-align: center;
}

.MoveList__moves {
  display: flex;
  flex-flow: row wrap;
  font-size: .8rem;
}

.MoveList__row {
  flex: 1 1 100%;
  flex-flow: row wrap;
  display: flex;
  margin-bottom: .25rem;
  padding: .25rem;
}

.MoveList__row:nth-child(2n+1) {
  background-color: #ccc;
}

.MoveList__row_item {
  flex: 1 1 25px;
  align-self: center;
}

.MoveList__row_item_move {
  flex: 1 1 90px;
  align-self: center;
}

.MoveList__row_item_acc {
  flex: 1 1 30px;
  align-self: center;
}

.MoveList__row_item_level {
  flex: 1 1 25px;
  align-self: center;
}
.MoveList__row_item_more {
  display: flex;
  flex: 0 0 100%;
  padding: .5rem 0;
  background-color: #eee;
}
/* for "special" icon */
.icon-dot-circled:before {
  transform: scale(2.2, .7)
}