.MonsterTabs {
  flex: 0 100%;
  background: #6890F0;
}

.MonsterTabs__List {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.MonsterTabs__List_item {
  text-align: center;
  font-size: .8rem;
  display: inline-block;
  flex: 1 1 20%;
  height: 48px;
}

.MonsterTabs__List_link {
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, .625);
  font-size: 1.5rem;
  border-bottom: 2px solid #6890F0;
  position: relative;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.MonsterTabs__active {
  color: #fff;
  border-bottom: 2px solid #FEE94E;
}