.TypeList__wrapper {
  display: flex;
  flex-flow: wrap;
  margin: 0 .5rem;
  justify-content: space-between;
}

.typeWrapper__header {
  padding: .25rem 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.TypeList__link {
  text-decoration: none;
}

.TypeList__typeWrapper {
  text-align: center;
  padding: 1rem 0 0;
  flex: 1 100%;
}

@media (min-width: 600px) {
  .TypeList__typeWrapper {
    flex: 0 49%;
  }
}