.DefensiveInfo__types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.DefensiveInfo__header {
  margin-bottom: .5rem;
}

.DefensiveInfo__item {
  flex: 0;
}

.DefensiveInfo__value {
  margin: .5rem 0;
  font-size: .75rem;
}
