.MonsterFilter {
  height: 30px;
  width: calc(100% - .75rem);
  padding: 0 .75rem;
  background: none;
  border: none;
  border-bottom: 2px solid #eee;
  color: #fff;
  font-size: 1rem;
}

.MonsterFilter:focus {
  outline: none;
}

.MonsterFilter::placeholder {
  color: #eee;
}