.MonsterFilter {
  height: 15px;
  width: calc(100% - 4rem);
  background: none;
  border: none;
  border-radius: 0; /* ios is adding a border radius... */
  border-bottom: 2px solid #eee;
  color: #fff;
  font-size: 1rem;
}

.MonsterFilter:focus {
  outline: none;
}

.MonsterFilter::placeholder {
  color: #eee;
}