.MonsterPage {
  padding: .5rem 1rem;
  display: flex;
  flex-flow: row wrap;
  background-repeat: no-repeat;
  background-size: 100% 300px;
}

.MonsterPage__basic {
  flex: 3 3 30px;
  padding-top: 1rem;
}

.defense {
  flex: 8 8 100%;
  display: flex;
}

.MonsterPage__EvolutionInfo {
  /* flex: 8 8 100%;
  display: flex;
  justify-content: space-evenly; */
  background: #eee;
  padding: .5rem .25rem .25rem;
  width: 100%;
  text-align: center;
}

.MonsterPage__tabContent {
  background: #eee;
  padding: .25rem;
  width: 100%;
  text-align: center;
}