.MonsterList__item_wrapper {
  list-style: none;
  color: #fff;
  background: #d9dadb;
  padding: .25rem;
  margin-bottom: .5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MonsterList__item_wrapper:hover {
  background: #b8bbbf;
}

.MonsterList__item_link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%
}

.MonsterList__label {
  padding: .25rem 0;
  text-shadow: 1px 1px #666;
}
