.Header {
  background: #6890F0;
  padding: 1rem;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 11;
}

.Header__inner {
  display: flex;
  align-items: center;
}

.Header__inner_link {
  color: #fff;
}

.Header__inner_text {
  height: 20px;
  margin-left: 1rem;
  font-size: 1.2rem;
}