.VitalInfo__name {
  flex: 0 0 100%;
  margin-bottom: .5rem;
}

.VitalInfo{
  flex: 4 4 40px;
  padding: .5rem .25rem;
}

.VitalInfo__species {
  background: rgba(255, 255, 255, .5);
  padding: .5rem;
  text-align: center;
  font-size: .8rem;
  margin-bottom: .5rem;
}

.VitalInfo__sizing {
  text-align: center;
  flex: 0 0 auto;
  margin-top: .5rem;
}

.VitalInfo__height,
.VitalInfo__weight {
  display: inline-block;
  padding: 0 .5rem;
}

.VitalInfo__height .VitalInfo__label,
.VitalInfo__weight .VitalInfo__label {
  padding-bottom: .25rem;
  font-size: .65rem;
}

.VitalInfo__height {
  padding-left: 0
}

.VitalInfo__value {
  font-size: 1rem;
}

.VitalInfo__label:last-child {
  margin-left: .25rem;
}

.VitalInfo__back {
  color: #fff;
  margin-right: .5rem;
}

@media (max-width: 600px) {
  .VitalInfo__label {
    font-weight: normal;
    font-size: initial;
  }

  .VitalInfo__label.name {
    font-weight: 700;
  }

}