.VitalInfo{
  flex: 0 50%;
  display: flex;
  flex-flow: row wrap;
}

.VitalInfo__name {
  flex: 0 0 100%;
  height: 56px;
  display: flex;
  background: #6890F0;
  color: #fff;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: .5rem;
}

.VitalInfo__row {
  display: flex;
  flex: 1 100%;
}

.VitalInfo__row:not(:first-child) {
  margin-top: 1rem;
  border-top: 1px solid #c0c0c0;
  padding-top: 1rem;
}

.VitalInfo__species {
  flex: 1 1 33%;
  text-align: center;
  font-size: .8rem;
}

.VitalInfo__sizing {
  text-align: center;
  flex: 1 1 67%;
  display: flex;
}

.VitalInfo__height,
.VitalInfo__weight {
  flex: 1 1 50%;
  text-align: center;
}

.VitalInfo__base {
  flex: 1 1 33%;
  text-align: center;
  font-size: .8rem;
}

.VitalInfo__gender {
  flex: 1 1 100%;
  text-align: center;
  font-size: .8rem;
}
/*
.VitalInfo__species .VitalInfo__label,
.VitalInfo__gender .VitalInfo__label,
.VitalInfo__base .VitalInfo__label,
.VitalInfo__height .VitalInfo__label,
.VitalInfo__weight  */
.VitalInfo__label {
  padding-bottom: .25rem;
  font-size: .65rem;
}

.VitalInfo__value {
  font-size: .9rem;
  margin-bottom: .25rem;
}

.VitalInfo__back {
  color: #fff;
  margin-right: .5rem;
}

@media (max-width: 600px) {
  .VitalInfo__label.name {
    font-weight: 700;
  }
}