.MonsterList__sprite {
  height: 150px;
  width: 150px;
}

.MonsterList__sprite_wrapper {
  flex: 0 auto;
  order: 2;
}

.MonsterList__item_image {
  flex: 0 1 50%;
  order: 2;
}

.MonsterList__item_image .MonsterList__sprite {
  height: 100px;
  width: 100px;
}

@media (min-width: 600px) {
  .MonsterList__sprite {
    height: 225px;
    width: 225px;
  }
}
