.MonsterList__sprite {
  height: 75px;
  width: 75px;
}

@media (max-width: 600px) {
  .MonsterList__sprite {
    height: 60px;
    width: 60px;
  }

  .MonsterList__sprite_wrapper {
    flex: 0 1 25%;
    order: 2;
  }
}
