.MonsterList__sprite {
  width: 150px;
  height: auto;
}

.MonsterList__sprite_wrapper {
  flex: 0 auto;
}

.MonsterList__item_image {
  height: 100px;
  width: 100px;
  padding: .25rem .25rem 0;
}

.MonsterList__item_image .MonsterList__sprite {
  height: 100px;
  width: 100px;
}

@media (min-width: 600px) {
  .MonsterList__item_image .MonsterList__sprite {
    height: 150px;
    width: 150px;
  }
}
