.BaseStats {
  display: flex;
  flex-flow: row wrap;
  font-size: .8rem;
}

.BaseStats__item_row {
  flex: 0 100%;
  display: flex;
  margin-bottom: .25rem;
}

.BaseStats__item_row:last-child {
  margin-bottom: 0;
}

.BaseStats__item_label {
  flex: 0 35%;
}

.BaseStats__item_value {
  flex: 0 130px;
}

.BaseStats__item_bar {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding: .125rem 0 .125rem .5rem;
  text-align: initial;
  -webkit-animation: progress-bar 2s;
  -moz-animation: progress-bar 2s;
  animation: progress-bar 2s;
}

/* progress bar loading style animation */
@-webkit-keyframes progress-bar {
  0% { width: 0; }
}
@-moz-keyframes progress-bar {
  0% { width: 0; }
}
keyframes progress-bar {
  0% { width: 0; }
}